<div class="details-container">
	<div class="container details-head">
		<h3>Zusammenfassung Ihrer Angaben</h3>
		<br>
	</div>
	<div class="grey container-fluid">
		<div class="container details-part">
			<div class="line"><span>Zeitlicher Rahmen des Angriffs</span></div>
				<p><b>Entdeckungszeitpunkt: </b>{{fertig.getField('vorfall.entdeckungszeitpunkt.date') | date: 'dd.MM.yyyy'}}, {{fertig.getField('vorfall.entdeckungszeitpunkt.time') | date: 'shortTime'}}<p>
				<p><b>Startzeitpunkt: </b>{{fertig.getField('vorfall.startzeitpunkt.date') | date: 'dd.MM.yyyy'}}, {{fertig.getField('vorfall.startzeitpunkt.time') | date: 'shortTime'}}<p>
				<p ng-show="fertig.getField('vorfall.dauertAn') == 'nein'"><b>Endzeitpunkt: </b>{{fertig.getField('vorfall.endzeitpunkt.date') | date: 'dd.MM.yyyy'}}, {{fertig.getField('vorfall.endzeitpunkt.time') | date: 'shortTime'}}<p>
		</div>
	</div>
	<div class="container details-part">
		<div class="line"><span>Angriffsbeschreibung - Das ist vorgefallen</span></div>
			<p><b>Angriffsvektor: </b><span class="badge badge-danger" ng-repeat="item in fertig.getField('angriff.vektor')">{{item}}</span><p>
			<blockquote>
				<p><i>{{fertig.getField('angriff.vektor.ermoeglichtBeschreibungSonstiges')}}</i><p>
				<small>Autor</small>
			</blockquote>
			<p><b>Angriffsart: </b><span class="badge badge-danger" ng-repeat="item in fertig.getField('angriff.art')">{{item}}</span><p>
			<blockquote>
				<p><i>{{fertig.getField('angriff.art.artBeschreibungSonstiges')}}</i><p>
				<small>Autor</small>
			</blockquote>
			<p><b>Angriffszweck: </b><span class="badge badge-danger" ng-repeat="item in fertig.getField('angriff.zweck')">{{item}}</span></p>
			<blockquote>
				<p><i>{{fertig.getField('angriff.zweck.zweckBeschreibungSonstiges')}}</i><p>
				<small>Autor</small>
			</blockquote>
	</div>
	<div class="grey container-fluid">
		<div class="container details-part">
			<div class="line"><span>Schwachstelle im System/Anwendung</span></div>
			<p ng-show="fertig.getField('angriff.SystemHersteller') != '---'">Das System <b>{{fertig.getField('angriff.SystemHersteller')}} {{fertig.getField('angriff.SystemProdukt')}}<b> wurde angegriffen</p>
			<p ng-show="fertig.getField('angriff.cveEigenerEintrag') != '---'">Es wurde <u>manuell</u> ein CVE-Eintrag identifiziert: {{fertig.getField('angriff.cveEigenerEintrag')}}</p>
			<p ng-show="fertig.getField('angriff.empfehlung') != '---'">Es wurde ein <u>vorgeschlagener</u> CVE-Eintrag idntifiziert: {{fertig.getField('angriff.empfehlung')}}</p>
			<blockquote>
				<p><i>{{fertig.getField('angriff.massnahmenErgriffen')}}</i><p>
				<small>Autor</small>
			</blockquote>
		</div>
	</div>
	<div class="container details-part">
		<div class="line"><span>Den Angriff erkennen</span></div>
		<p>Auf folgende Weise wurde der Angriff durch <b><span class="auswahl">{{fertig.getField('angriff.festgestelltDurch')}}</span></b> erkannt</p>
		<blockquote>
			<p><i>{{fertig.getField('angriff.festgestelltDurchDetails')}}</i><p>
			<small>Autor</small>
		</blockquote>
	</div>
	<div ng-class="fertig.getField('angriff.behoben') == 'Ja' ? 'light-green' : (fertig.getField('angriff.behoben') == 'Nein' ? 'light-red' : 'grey')" class="container-fluid">
		<div class="container details-part">
			<div class="line"><span>Lösung</span></div>
			<p ng-show="fertig.getField('angriff.behoben') == 'Ja'">Die Ursachen des Angriffs wurden <b>behoben</b></p>
			<p ng-show="fertig.getField('angriff.behoben') == 'Teilweise'">Die Ursachen des Angriffs wurden <b>teilweise behoben</b></p>
			<p ng-show="fertig.getField('angriff.behoben') == 'Nein'">Die Ursachen des Angriffs wurden <b>nicht</b> behoben</p>
			<p>Eingeschätzter Aufwand zur Behebung der Usache: <b>{{fertig.getField('angriff.aufwandBehebung')}}</b></p>
			<p>Folgende Maßnahmen wurden ergriffen um den Ursachen entgegenzugehen: </p>
			<blockquote>
				<p><i>{{fertig.getField('angriff.massnahmenErgriffen')}}</i><p>
				<small>Autor</small>
			</blockquote>
		</div>
	</div>
<div class="alert" ng-show="super.statusInfo.feedback" ng-class="super.statusInfo.status == 'success' ? 'alert-success' : (super.statusInfo.status == 'error' ? 'alert-danger' : 'alert-danger')" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <p ng-show="super.statusInfo.status == 'success'">Das Formular wurde erfolgreich versendet!</p>
  <p ng-show="super.statusInfo.status == 'error'">Es ist ein Problem beim versenden des Formulars aufgetreten, versuchen Sie es später nocheinmal.</p>
</div>
<div class="weiter form-group col-md-12">
	<a class="btn btn-black btn-block" ng-href="#/fertig" ng-click="super.finish()">Absenden</a>
	<a class="btn btn-default btn-block" target="_self" ng-href="/">Startseite</a>
</div>