.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #F5F7FA;
}

p {
  font-weight: 300;
  text-align: center;
}

.warning {
  color: #f6bb42;
}

input[type=checkbox] {
  height: 17px;
  width: 17px;
}

textarea {
  resize : none;
}

hr {
  margin-top: 2px;
  border-top: 1px solid #8C8C8C;
}

h3 {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  padding-left: 0px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 30px;
  display: inline-block;
}

h5 {
  margin: 0;
  font-size: 19px;
  color: #FFF;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 48px;
}

.header-container {
  position: relative;
  z-index: 1;
  height: 200px;
  background-color: #f6bb42;
  text-align: center;
  padding-top: 60px;
}

.circle-container {
  display: inline-block;
}

.circle-container span {
  display: block;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.header-container li {
  width: 4em;
  height: 4em;
  text-align: center;
  line-height: 4em;
  border-radius: 3em;
  background: #FFCE54;
  margin: 0 6em;
  display: inline-block;
  color: white;
  position: relative;
}

.header-container li.active {
  background: #434A54;
}

.header-container li::before {
  content: '';
  position: absolute;
  top: 1.9em;
  left: -8em;
  width: 18em;
  height: .3em;
  background: #FFCE54;
  z-index: -1;
}

.header-timeline {
  height: 50px;
  background: #37BB9B;
  text-align: center;
}

.meldung {
  margin-bottom: 25px !important;
}

.meldung h3 {
  margin-top: 10px;
}

.meldung a{
  color: #a94442;
}

.timeline dl dd .events {
  padding-bottom: 10px;
}

.events-body h4 {
  font-weight: 500;
  display: block;
}

.events-body p {
  text-align: left;
}

.header-vertical-center {
  line-height: 48px;
}

.navbar-default {
  background-color: #f6bb42;
  border-color: #f6bb42;
}

.details-head p {
  text-align: left;
}

.glyphicon-info-sign {
  cursor: pointer;
}

.grey {
  background-color: #efefef;
}

.light-green {
  background-color: #D0FFE5;
}

.light-red {
  background-color: #F5E4E4;
}

.inline {
  display: inline;
}

.line {
  width: 100%;
  height: 13px;
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.line span {
  font-size: 18px; 
  background-color: #F5F7FA; 
  padding: 0 10px;
  font-weight: 200;
  text-transform: uppercase;
}

.details-part {
  margin-bottom: 40px;
}

.details-part p {
  text-align: left;
}

.details-part .badge {
  margin-right: 3px;
}

.details-container {
  margin-bottom: 50px;
}

.weiter {
  margin-top: 35px;
}

.btn-black {
  background-color: #434A54;
  border-color: #434A54;
}

.btn-black:hover {
  background-color: #656D78;
  border-color: #656D78; 
}

.form-group {
  margin-bottom: 22px;
}

.radio-question {
  text-align: left;
}

.glyphicon {
  vertical-align: top;
  margin-right: 10px;
}

.noentry {
  color: #aab2bd;
}

.question {
  padding-right: 10px;
  font-weight: 400;
}

.radio-question .iradio_flat {
  height: 17px;
}

.radio-inline {
  vertical-align: baseline;
}

.radio-inline label {
  padding-left: 5px;
}

.radio-question label {
  font-weight: 400;
  max-width: 500px;
}

.cve-jumbotron {
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-align: left !important; 
  margin-bottom: 15px;
}

.jumbotron p {
  margin-bottom: 8px;
  font-size: 12px;
  text-align: left;
}

.weitere-infos {
  margin-bottom: 3px !important;
}

.cve-jumbotron h5 {
  color: #000;
  font-size: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 13px;
  text-align: left;
}

.cve-jumbotron ul {
  padding-left: 18px;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 200;
}

.select-question label {
  font-weight: 400;
  max-width: 500px;
} 

.formHead p {
  font-weight: 300;
  text-align: center;
}

.descriptionLabel {
  font-weight: 400;
  text-transform: uppercase;
  color: #848484;
}

.auswahl {
  background-color: #F6BB42;
}

.right {
  text-align: right;
  display: inline-block;
}

.checkbox-badge {
  margin-bottom: 8px;
  display: inline-flex;
  margin-left: 60px;
}

.checkbox-line {
  margin-bottom: 8px;
  margin-left: 60px;
}

.checkbox-badge input {
  margin-right: 5px;
}

.checkbox-badge label {
  margin-right: 5px;
}

.badge-list {
  display: inline-block;
  width: 360px;
}

.badge {
  font-weight: 300;
}

.input-line {
  margin-bottom: 8px;
  margin-left: 60px;
}

.form-control {
  margin-bottom: 4px;
}

.indent {
  margin-left: 60px;
}

.alert {
  margin-bottom: 0px;
  margin-top: 10px;
}

.alert span,
.alert p {
  display: inline;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
